<!doctype html>
<html lang="{{ site.lang }}" data-theme="light">
  <head>
    {% include 'meta.njk' %}
    {% include 'styles.njk' %}

    {# Libs #}
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.7.0/themes/prism-coldark-dark.min.css" rel="stylesheet">

    <!-- Third party -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="bg-body-tertiary">
    {# Container #}
    <div class="d-flex flex-column flex-lg-row h-lg-100 gap-1">
      {# Sidebar #}
      {% include "partials/sidebar.njk" %}
      {# Content #}
      <div class="flex-lg-fill overflow-x-auto vstack vh-lg-100">
        <div class="flex-fill overflow-y-lg-auto scrollbar bg-body rounded-top-4 rounded-top-start-lg-4 rounded-top-end-lg-0 border-top border-start-lg shadow mt-1">
          <header>
            <div class="container-fluid mw-screen-lg px-lg-24 pt-6">
              <div class="pt-6 border-bottom">
                <div class="row align-items-center">
                  <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                    <!-- Title -->
                    <h1 class="fw-bolder ls-tight">
                      {% if emoji %}
                        <span class="d-inline-block me-3">{{ emoji }}</span>{% endif %}{{ title }}
                    </h1>
                  </div>
                  <!-- Actions -->
                  <div class="col-sm-6 col-12">
                    <div class="hstack gap-5 justify-content-end">
                      <a href="https://github.com/webpixels/css" class="text-lg text-muted text-primary-hover" target="_blank">
                        <i class="bi bi-github"></i>
                      </a>
                      <a href="https://github.com/webpixels/support/discussions/categories/bootstrap-themes" class="btn btn-sm btn-neutral" target="_blank">
                        <span>Have an issue?</span>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Nav -->
                <ul class="nav nav-tabs nav-tabs-flush gap-8 overflow-x border-0 mt-8">
                  <li class="nav-item">
                    <a href="/docs" class="nav-link{{ ' active' if '/docs' == page.url }}">Getting Started</a>
                  </li>
                  <li class="nav-item">
                    <a href="/docs/styleguide.html" class="nav-link{{ ' active' if '/docs/styleguide.html' == page.url }}">Style Guide</a>
                  </li>
                  <li class="nav-item">
                    <a href="/docs/customize.html" class="nav-link{{ ' active' if '/docs/customize.html' == page.url }}">Customize</a>
                  </li>
                  <li class="nav-item">
                    <a href="/docs/about.html" class="nav-link{{ ' active' if '/docs/about.html' == page.url }}">About</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://themes.getbootstrap.com/product/satoshi-defi-and-crypto-exchange-theme" class="nav-link" target="_blank">
                      <i class="bi bi-box-arrow-up-right me-2"></i>Changelog
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </header>
          <main class="container-fluid mw-screen-lg px-lg-24 pb-16 pt-6">
            <article class="article">
              {{ content | safe }}
            </article>
          </main>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="{{ '/js/main.js' | url }}"></script>
  </body>
</html>
