---
layout: app
title: Pricing
header: false
container: py-12 px-16
---

<div class="mb-6 mb-xl-10">
  <div class="row g-3 align-items-center">
    <div class="col">
      <h1 class="ls-tight">Pricing Plans</h1>
    </div>
  </div>
</div>

{% renderFile "./src/sections/pricing-2.njk" %}
<div class="mt-20">
  {% renderFile "./src/sections/faq-1.njk" %}
</div>
