---
layout: app
title: Trades
container: p-0 
header: false
---

<div class="px-6 px-lg-7 pt-8 border-bottom">
  <div class="d-flex align-items-center">
    <h1>Trades</h1>
    <div class="hstack gap-2 ms-auto">
      <button type="button" class="btn btn-sm btn-neutral d-none d-lg-inline-flex">
        <i class="bi bi-arrow-90deg-right me-2"></i>
        Export
      </button>
      <a href="/pages/page-details.html" class="btn btn-sm btn-primary">
        <i class="bi bi-plus-lg me-2"></i>
        New trade
      </a>
    </div>
  </div>
  <ul class="nav nav-tabs nav-tabs-flush gap-8 overflow-x border-0 mt-4">
    <li class="nav-item">
      <a href="#" class="nav-link active">All</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Succeeded</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Uncaptured</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Failed</a>
    </li>
  </ul>
</div>
<div class="d-flex gap-2 scrollable-x py-3 px-7 border-bottom">
  <button type="button" class="btn btn-xs btn-neutral text-xs">
    <i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Category
  </button>
  <button type="button" class="btn btn-xs btn-neutral text-xs">
    <i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Amount
  </button>
  <button type="button" class="btn btn-xs btn-neutral text-xs">
    <i class="bi bi-plus-circle-fill opacity-70 me-2"></i>Status
  </button>
  <div class="align-items-center ms-auto text-sm text-muted text-primary-hover fw-semibold d-none d-md-flex" role="button">
    <i class="bi bi-x me-1"></i>
    <span>Clear filters</span>
  </div>
</div>
{% renderFile "./src/components/table-trades.njk", {
  trades: trades,
  limit: 11,
  has_checkbox: true,
  size: 'small'
} %}

<div class="py-4 px-6">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 d-none d-md-block">
      <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
    </div>
    <div class="col-md-auto">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-spaced gap-1">
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
