---
layout: app
title: Top Crypto Pairs
---

<div class="row g-3 g-xl-6">
  <div class="col-xl-3 col-sm-6">
    {% renderFile "./src/components/card-pool.njk", {
      color: light
    } %}
  </div>
  <div class="col-xl-3 col-sm-6">
    {% renderFile "./src/components/card-pool.njk", {
      title: 'ETH/USDT',
      img1: {
        src: '/img/crypto/color/eth.svg'
      }
    } %}
  </div>
  <div class="col-xl-3 col-sm-6">
    {% renderFile "./src/components/card-pool.njk", {
      title: 'XRP/USDT',
      img1: {
        src: '/img/crypto/color/xrp.svg'
      }
    } %}
  </div>
  <div class="col-xl-3 col-sm-6">
    {% renderFile "./src/components/card-pool.njk", {
      title: 'BNB/USDT',
      img1: {
        src: '/img/crypto/color/bnb.svg'
      }
    } %}
  </div>
</div>
<div class="mt-6">
  <div class="row align-items-center g-6 mt-0 mb-6">
    <div class="col-sm-6">
      <div class="d-flex flex-wrap gap-2">
        <div class="input-group input-group-sm input-group-inline w-100 w-md-50">
          <span class="input-group-text">
            <i class="bi bi-search me-2"></i>
          </span>
          <input type="search" class="form-control ps-0" placeholder="Search all assets" aria-label="Search">
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-neutral" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="bi bi-plus-circle"></i>
            <span class="ms-2">Status</span>
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkStatus1">
              </div>
              <div class="ms-3 me-5">
                <label for="checkStatus1">Backlog</label>
              </div>
            </div>
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkStatus2">
              </div>
              <div class="ms-3 me-5">
                <label for="checkStatus2">Todo</label>
              </div>
              <div class="ms-auto">
                <span class="badge rounded-pill bg-opacity-25 bg-success text-success">23</span>
              </div>
            </div>
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkStatus3">
              </div>
              <div class="ms-3 me-5">
                <label for="checkStatus3">In Progress</label>
              </div>
            </div>
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkStatus4">
              </div>
              <div class="ms-3 me-5">
                <label for="checkStatus4">Done</label>
              </div>
              <div class="ms-auto">
                <span class="badge rounded-pill bg-opacity-25 bg-warning text-warning">190</span>
              </div>
            </div>
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkStatus5">
              </div>
              <div class="ms-3 me-5">
                <label for="checkStatus5">Cancelled</label>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-sm btn-neutral" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="bi bi-plus-circle"></i>
            <span class="ms-2">Priority</span>
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkPriority1">
              </div>
              <div class="ms-3 me-5">
                <label class="d-flex align-items-center" for="checkPriority1">
                  <span class="w-rem-2 h-rem-2 me-2 bg-success rounded-circle"></span>
                  <span>Low</span>
                </label>
              </div>
            </div>
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkPriority2">
              </div>
              <div class="ms-3 me-5">
                <label class="d-flex align-items-center" for="checkPriority2">
                  <span class="w-rem-2 h-rem-2 me-2 bg-warning rounded-circle"></span>
                  <span>Medium</span>
                </label>
              </div>
            </div>
            <div class="dropdown-item py-1 px-2 d-flex align-items-center">
              <div class="text-lg">
                <input class="form-check-input" type="checkbox" id="checkPriority3">
              </div>
              <div class="ms-3 me-5">
                <label class="d-flex align-items-center" for="checkPriority3">
                  <span class="w-rem-2 h-rem-2 me-2 bg-danger rounded-circle"></span>
                  <span>High</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="hstack justify-content-end gap-2">
        <div class="d-flex align-items-center justify-content-end gap-2">
          <div class="dropdown">
            <button class="btn btn-sm btn-neutral flex-none d-flex align-items-center gap-2 py-1 px-2" data-bs-toggle="dropdown" aria-expanded="false">
              {% img src="/img/flags/eu.svg", class="w-rem-5 h-rem-5 rounded-circle" %}
              <span>EUR</span>
              <i class="bi bi-chevron-down text-xs me-1"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                  {% img src="/img/flags/us.svg", class="w-rem-6 h-rem-6 rounded-circle" %}
                  <span>USD</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                  {% img src="/img/flags/eu.svg", class="w-rem-6 h-rem-6 rounded-circle" %}
                  <span>EUR</span>
                  <span class="ms-auto text-success text-lg">
                    <i class="bi bi-check"></i>
                  </span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                  {% img src="/img/flags/gb.svg", class="w-rem-6 h-rem-6 rounded-circle" %}
                  <span>GBP</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                  {% img src="/img/flags/au.svg", class="w-rem-6 h-rem-6 rounded-circle" %}
                  <span>AUD</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                  {% img src="/img/flags/ro.svg", class="w-rem-6 h-rem-6 rounded-circle" %}
                  <span>RON</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-2">
          <div class="dropdown">
            <button class="btn btn-sm btn-neutral flex-none d-flex align-items-center gap-2 p-1" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="ms-2">24H</span>
              <i class="bi bi-chevron-down text-xs me-1"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
              <li>
                <a class="dropdown-item gap-2" href="#">
                  12H
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-2" href="#">
                  6H
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-2" href="#">
                  4H
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-2" href="#">
                  1H
                </a>
              </li>
              <li>
                <a class="dropdown-item gap-2" href="#">
                  30m
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vstack gap-3">
    {% for item in pools.slice(0,10) %}
      {% renderFile "./src/components/card-list-item-1.njk", {
        name: item.name,
        abv: item.abv, 
        img1: {
          src: item.img
        }
      } %}
    {% endfor %}
    <div class="d-flex align-items-center justify-content-between mt-4">
      <div>
        <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-spaced gap-1">
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
