<div class="card border-primary-hover shadow-soft-3-hover">
  <div class="card-body p-4">
    <div class="d-flex flex-column flex-xl-row gap-10 justify-content-xl-between align-items-xl-center">
      <div class="d-flex align-items-center gap-3">
        <div class="avatar-group">
          {% img src=img1.src if img1.src else '/img/crypto/color/btc.svg', class="avatar avatar-lg border border-2 border-body rounded-circle" %}
          {% img src=img2.src if img2.src else '/img/crypto/color/usdt.svg', class="avatar avatar-lg border border-2 border-body rounded-circle" %}
        </div>
        <div class="">
          <h6>{{ name if name else 'BTC/USDT' }}</h6>
          <span class="d-inline-block text-muted text-xs">0.3% LP Fee</span>
        </div>
      </div>
      <div class="row g-10 gx-xl-16 align-items-center justify-content-between">
        <div class="col-6 col-sm-auto col-xl-auto">
          <span class="d-block text-xs text-muted">Price</span>
          <span class="d-block text-heading text-sm fw-bold">{{ price if price else '0.430215 '+abv }}</span>
        </div>
        <div class="col-6 col-sm-auto col-xl-auto">
          <span class="d-block text-xs text-muted">Total Locked</span>
          <span class="d-block text-heading text-sm fw-bold">{{ value_1 if value_1 else '83,699.7' }}</span>
        </div>
        <div class="col-6 col-sm-auto col-xl-auto">
          <span class="d-block text-xs text-muted">Total {{ abv }}</span>
          <span class="d-block text-heading text-sm fw-bold">{{ value_2 if value_2 else '4,201.84' }}</span>
        </div>
        <div class="col-6 col-sm-auto col-xl-auto">
          <span class="d-block text-xs text-muted">Volume 24H</span>
          <span class="d-block text-heading text-sm fw-bold">{{ volume if volume else '60,717.80 '+abv }}</span>
        </div>
        <div class="col-12 col-sm-auto col-xl-auto">
          <button type="button" class="btn btn-xs btn-neutral w-100 w-sm-auto" data-bs-target="#depositLiquidityModal" data-bs-toggle="modal">
            Deposit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
