<div class="card">
  <div class="card-body pb-0">
    <div class="mb-2 d-flex align-items-center">
      <h5>Cards List</h5>
      <div class="ms-auto text-end">
        <a href="#" class="text-sm fw-semibold">Edit</a>
      </div>
    </div>
    <div class="hstack gap-2 mt-4 mb-6">
      <button class="btn btn-sm btn-neutral">
        <i class="bi bi-plus me-2 d-none d-sm-inline-block"></i>New card
      </button>
      <button class="btn btn-sm btn-neutral">
        <i class="bi bi-gear me-2 d-none d-sm-inline-block"></i>Manage
      </button>
    </div>
    <div class="surtitle mb-2">
      My cards
    </div>
    <div class="vstack gap-2 mx-n3">
      <div class="position-relative d-flex align-items-center p-3 rounded-3 bg-body-secondary-hover">
        <div class="flex-none">
          {% img src="/img/cards/visa.svg", class="w-rem-16 w-md-20 rounded" %}
        </div>
        <div class="ms-3 ms-md-4 flex-fill">
          <div class="stretched-link text-limit text-sm text-heading fw-semibold" role="button" data-bs-toggle="offcanvas" data-bs-target="#cardDetailsOffcanvas" aria-controls="cardDetailsOffcanvas">
            John Snow - Metal
          </div>
          <div class="d-block text-xs gap-2 mt-1">
            <span>**4291 - Exp: 12/26</span>
          </div>
        </div>
        <div class="d-none d-sm-block ms-auto text-end">
          <span class="badge bg-body-secondary text-success">Active</span>
          <div class="d-none d-sm-block text-xs text-muted mt-2">
            Last used: 2 hrs ago
          </div>
        </div>
      </div>
      <div class="position-relative d-flex align-items-center p-3 rounded-3 bg-body-secondary-hover">
        <div class="flex-none">
          {% img src="/img/cards/mastercard.svg", class="w-rem-16 w-md-20 rounded" %}
        </div>
        <div class="ms-3 ms-md-4 flex-fill">
          <div class="stretched-link text-limit text-sm text-heading fw-semibold" role="button" data-bs-toggle="offcanvas" data-bs-target="#cardDetailsOffcanvas" aria-controls="cardDetailsOffcanvas">
            John Snow - Virtual
          </div>
          <div class="d-block text-xs gap-2">
            <span>**4291 - Exp: 12/26</span>
          </div>
        </div>
        <div class="d-none d-sm-block ms-auto text-end">
          <span class="badge bg-body-secondary text-success">Active</span>
          <div class="d-none d-sm-block text-xs text-muted mt-2">
            Last used: 2 hrs ago
          </div>
        </div>
      </div>
    </div>
    <div class="surtitle mt-6">
      Team cards
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item d-flex align-items-center px-0">
        <div>
          <span class="d-flex align-items-center justify-content-center w-rem-16 w-md-20 py-3 rounded text-muted text-lg bg-body-secondary">
            <i class="bi bi-credit-card"></i>
          </span>
        </div>
        <div class="ms-3 ms-md-4 flex-fill">
          <div class="text-muted text-sm fw-semibold">Team cards will appear here</div>
        </div>
      </div>
    </div>
  </div>
</div>
