<div class="card">
  {% img src="/img/nfts/collection-1.png", class="card-img-top" %}
  <div class="card-body">
    <span class="d-block text-heading text-base fw-bold">Crypto Unicorns Market</span>
    <div class="d-flex align-items-center justify-content-between">
      <span class="d-block text-primary text-base fw-bold">3.5 ETH</span>
      <span class="d-block text-muted text-sm">1 of 100</span>
    </div>
    <div class="d-flex gap-2 justify-content-between mt-5">
      <div class="rounded-pill px-4 py-2 bg-body-secondary text-sm">
        8,888 items
      </div>
      <a href="./nft-collection.html" class="btn btn-sm btn-dark">See collection</a>
    </div>
  </div>
</div>
