---
name: Card with activity timeline
preview_class: max-w-screen-sm p-6 mx-auto
---

<div class="card">
  <div class="card-body pb-3">
    <h5 class="mb-3">{{ title if title else 'Asset Allocation' }}</h5>
    <div class="list-group list-group-flush">
      {% for item in cryptos.slice(0, (limit if limit else 5)) %}
      <div class="list-group-item d-flex align-items-center border-0 py-3">
        <div class="flex-none w-rem-10 h-rem-10">
          {% img
            src=(item.img.src if item.img.src else '/img/crypto/icon/btc.svg'),
            class="w-100"
          %}
        </div>
        <div class="flex-fill ms-4 text-limit">
          <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="d-block text-sm text-heading fw-bold">{{ item.name }}</a>
            <span class="text-muted text-xs fw-semibold">47%</span>
          </div>
          <div class="progress progress-sm my-1">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 47%" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between text-xs text-muted text-end mt-1">
            <div>
              <span class="font-weight-bold text-muted">Price: $0.32</span>
            </div>
            <div>
              <p class="card-text text-muted">
                <time datetime="2020-06-23">Value: ${{ item.total }}</time>
              </p>
            </div>
          </div>
        </div>
        <div class="text-end ms-7">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
