<form>
  <div class="row g-5 mb-5">
    <div class="col-md-12">
      <div class="">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Your email">
      </div>
    </div>
    <div class="col-md-12">
      <div class="">
        <label class="form-label">Card details</label>
        <div class="input-group input-group-inline">
          <span class="input-group-text">
            <i class="bi bi-credit-card"></i>
          </span>
          <input type="tel" class="form-control pe-4" placeholder="Number">
          <input type="tel" class="form-control w-rem-16 w-md-20 flex-none" placeholder="MM/YY" maxlength="4">
          <input type="tel" class="form-control w-rem-16 w-md-20 flex-none" placeholder="CVC" maxlength="3">
        </div>
        <span class="mt-2 valid-feedback">Looks good!</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="">
        <label class="form-label" for="cardholder">Cardholder name</label>
        <input type="text" class="form-control" id="cardholder" placeholder="Name on card">
      </div>
    </div>
    <div class="col-md-12">
      <label class="form-label">Address</label>
      <div class="row g-2">
        <div class="col-12">
          <label for="inputStreet" class="visually-hidden">Street</label>
          <input type="text" id="inputStreet" class="form-control" placeholder="Street, number">
        </div>
        <div class="col-6">
          <label for="inputCountry" class="visually-hidden">Country</label>
          <input type="text" id="inputCountry" class="form-control" placeholder="Country">
        </div>
        <div class="col-6">
          <label for="inputCity" class="visually-hidden">City</label>
          <input type="text" id="inputCity" class="form-control" placeholder="City">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6">
    <button type="button" class="btn btn-primary w-100" data-bs-target="#topUpModal" data-bs-toggle="modal">
      Add card
    </button>
    <div class="d-flex align-items-center justify-content-center text-center mt-5 mb-2 text-muted text-sm">
      <i class="bi bi-lock me-2"></i>
      All credit cards information are encrypted.
    </div>
  </div>
</form>
