<div class="rounded-top-start-5 bg-card overflow-hidden">
  <div class="h-rem-64 overflow-hidden bg-cover" style="background-image: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&h=400&q=80'); background-position: center center;"></div>
  <div class="px-10">
    <div class="row g-0 align-items-end">
      <div class="col-auto">
        <div class="avatar w-rem-48 h-rem-48 border border-body border-6 shadow-soft-3 mt-n24">
          {% img src="/img/nfts/img-1.jpg", class="rounded" %}
        </div>
      </div>
      <div class="col ps-4 pt-4">
        <div class="text-sm text-muted mb-1">
          By <span class="fw-bold text-heading">SearchGhost</span>
        </div>
        <h1>
          Cool Cookies
        </h1>
      </div>
      <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
        <div class="hstack gap-3">
          <a href="#" class="btn btn-sm btn-square btn-neutral rounded-circle">
            <i class="bi bi-globe"></i>
          </a>
          <a href="#" class="btn btn-sm btn-square btn-neutral rounded-circle">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" class="btn btn-sm btn-square btn-neutral rounded-circle">
            <i class="bi bi-discord"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
