<div class="list-group list-group-flush gap-2">
  {% for item in wallets.slice(0,6) %}
    <div class="list-group-item border rounded d-flex gap-3 p-4 bg-body-secondary-hover">
      <div class="icon flex-none">
        {% img src=item.img.src, class="w-rem-8 h-rem-8" %}
      </div>
      <div class="d-flex align-items-center flex-fill">
        <div>
          <a href="#" class="stretched-link text-heading text-sm fw-bold">{{ item.name }}</a>
        </div>
        {% if item.badge %}
        <div class="ms-auto">
          <span class="badge badge-md text-bg-{{ item.badge.color }}">{{ item.badge.text }}</span>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
<div class="text-xs text-muted mt-6">
  By connecting wallet, you agree to Satoshi's <a href="#" class="fw-bold">Terms of Service</a>
</div>
