<div class="">
  <div class="d-flex">
    <div class="flex-none w-rem-10">
      <i class="bi bi-folder-plus text-lg text-muted"></i>
    </div>
    <div class="me-10">
      <a href="#" class="d-block h5">Security</a>
      <p class="mt-1 text-sm text-muted">Select the permissions you want to add to all the projects in this account.</p>
    </div>
  </div>
  <div class="vstack gap-3 mt-4 ms-10">
    <div class="d-flex align-items-center">
      <h6 class="text-sm fw-semibold">Online transactions</h6>
      <div class="form-check form-switch ms-auto"><input class="form-check-input me-n2" type="checkbox" name="switch1" id="switchView1" checked="checked"></div>
    </div><hr class="my-0">
    <div class="d-flex align-items-center">
      <h6 class="fw-semibold">Swipe payments</h6>
      <div class="form-check form-switch ms-auto"><input class="form-check-input me-n2" type="checkbox" name="switch1" id="switchEdit1" checked="checked"></div>
    </div><hr class="my-0">
    <div class="d-flex align-items-center">
      <h6 class="fw-semibold">Contactless payments</h6>
      <div class="form-check form-switch ms-auto"><input class="form-check-input me-n2" type="checkbox" name="switch1" id="switchPublish1"></div>
    </div>
  </div>
</div>
