{% renderFile "./src/components/card-mockup-1.njk" %}
{% renderFile "./src/components/stack-buttons-1.njk" %}
{% renderFile "./src/components/card-progress-2.njk" %}
{% renderFile "./src/components/list-group-switchers.njk" %}
<button type="button" class="btn btn-dark bg-danger-hover border-0 w-100 mt-auto">
  Terminate card
</button>
