<div class="table-responsive">
  <table class="table table-nowrap table-flush">
    <thead>
      <tr>
        <th scope="col">
          <div class="d-flex align-items-center gap-2 ps-1">
            {% if has_checkbox %}
            <div class="text-base">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
              </div>
            </div>
            {% endif %}
            <span>Invoice</span>
          </div>
        </th>
        <th scope="col">Client</th>
        <th scope="col">Value</th>
        <th scope="col">Taxes</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in invoices.slice(0, 10) %}
        <tr>
          <td>
            <div class="d-flex align-items-center gap-3 ps-1">
              {% if has_checkbox %}
              <div class="text-base">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </div>
              {% endif %}
              <div class="icon icon-shape w-rem-10 h-rem-10 rounded-circle text-sm bg-primary bg-opacity-25 text-tertiary">
                <i class="bi bi-file-fill"></i>
              </div>
              <div>
                <span class="d-block text-heading fw-bold">Invoice ABC 0002{{ loop.index }}</span>
                <span class="text-xs text-muted">{{ item.date }}</span>
              </div>
            </div>
          </td>
          <td>
            <a class="text-current" href="#">{{ item.company }}</a>
          </td>
          <td>
            {{ item.value_1 }}
          </td>
          <td>
            {{ item.value_2 }}
          </td>
          <td>
            <span class="badge bg-body-secondary text-xs text-{{ item.badge.color }}">
              {{ item.badge.label }}
            </span>
          </td>
          <td class="text-end">
            <div class="dropdown">
              <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a href="#!" class="dropdown-item">
                  Action
                </a>
                <a href="#!" class="dropdown-item">
                  Another action
                </a>
                <a href="#!" class="dropdown-item">
                  Something else here
                </a>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
