<div class="table-responsive">
  <table class="table table-hover table-striped table-sm table-nowrap">
    <thead>
      <tr>
        <th scope="col">
          <div class="d-flex align-items-center gap-2 ps-1">
            {% if has_checkbox %}
            <div class="text-base">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
              </div>
            </div>
            {% endif %}
            <span>Handler</span>
          </div>
        </th>
        <th scope="col">Currency</th>
        <th scope="col">Rate</th>
        <th scope="col">Amount</th>
        <th scope="col" class="d-none d-xl-table-cell">Date</th>
        <th scope="col" class="d-none d-xl-table-cell">Status</th>
        <th scope="col" class="d-none d-xl-table-cell">Required Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in trades.slice(0, (limit if limit else 20)) %}
        <tr>
          <td>
            <div class="d-flex align-items-center gap-3 ps-1">
              {% if has_checkbox %}
              <div class="text-base">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </div>
              {% endif %}
              <div class="d-none d-xl-inline-flex icon icon-shape w-rem-8 h-rem-8 rounded-circle text-sm bg-secondary bg-opacity-25 text-secondary">
                <i class="bi bi-file-fill"></i>
              </div>
              <div>
                <span class="d-block text-heading fw-bold">{{ item.name }}</span>
              </div>
            </div>
          </td>
          <td class="text-xs">
            {{ item.from_currency }} <i class="bi bi-arrow-right mx-2"></i> {{ item.to_currency }}
          </td>
          <td>
            {{ item.rate }}
          </td>
          <td>
            ${{ item.amount }}
          </td>
          <td class="d-none d-xl-table-cell">
            {{ item.date }}
          </td>
          <td class="d-none d-xl-table-cell">
            <span class="badge badge-lg badge-dot">
              <i class="bg-{{ item.badge.color }}"></i>{{ item.badge.text }}
            </span>
          </td>
          <td class="d-none d-xl-table-cell">
            {{ item.required_action }}
          </td>
          <td class="text-end">
            <button type="button" class="btn btn-sm btn-square btn-neutral w-rem-6 h-rem-6">
              <i class="bi bi-three-dots"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
