<div class="row row-cols-1 row-cols-xl-3 justify-content-center g-6">
  <div class="col">
    <div class="card card-pricing">
      <div class="px-10 pt-10 pb-7">
        <h4 class="ls-tight fw-semibold mb-1">Basic</h4>
        <div class="d-flex align-items-center my-5">
          <span class="d-block display-5 text-heading mb-0">&dollar;29</span>
          <span class="d-block h3 font-weight-normal text-muted align-self-end mb-3 ms-1">/ month</span>
        </div>
        <p class="mb-4">
          Perfect for developers who want extra modularity.
        </p>
        <ul class="list-group list-group-flush text-sm mt-3">
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              390+ Templates
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              600+ Icons
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Build tools
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Free updates
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Source files
            </p>
          </li>
        </ul>
        <div class="mt-3">
          <a href="#" class="btn btn-dark w-100">Get started</a>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card card-pricing bg-dark">
      <div class="px-10 pt-10 pb-7">
        <h4 class="ls-tight text-white fw-semibold mb-1">Professional</h4>
        <div class="d-flex align-items-center my-5">
          <span class="d-block display-5 text-white mb-0">&dollar;49</span>
          <span class="d-block h3 font-weight-normal text-white text-opacity-75 align-self-end mb-3 ms-1">/ month</span>
        </div>
        <p class="text-white text-opacity-75 mb-4">
          Perfect for developers who want extra modularity.
        </p>
        <ul class="list-group list-group-flush text-sm mt-3">
          <li class="list-group-item d-flex align-items-center py-3 text-white text-opacity-75 border-white border-opacity-20">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              390+ Templates
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3 text-white text-opacity-75 border-white border-opacity-20">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              600+ Icons
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3 text-white text-opacity-75 border-white border-opacity-20">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Build tools
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3 text-white text-opacity-75 border-white border-opacity-20">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Free updates
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3 text-white text-opacity-75 border-white border-opacity-20">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Source files
            </p>
          </li>
        </ul>
        <div class="mt-3">
          <a href="#" class="btn btn-primary w-100">Get started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-pricing">
      <div class="px-10 pt-10 pb-7">
        <h4 class="ls-tight text-heading fw-semibold mb-1">Startup</h4>
        <div class="d-flex align-items-center my-5">
          <span class="d-block display-5 text-heading mb-0">&dollar;99</span>
          <span class="d-block h3 font-weight-normal text-muted align-self-end mb-3 ms-1">/ month</span>
        </div>
        <p class="mb-4">
          Perfect for developers who want extra modularity.
        </p>
        <ul class="list-group list-group-flush text-sm mt-3">
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              390+ Templates
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              600+ Icons
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Build tools
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Free updates
            </p>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-25 bg-success text-success me-3">
              <i class="bi bi-check"></i>
            </div>
            <p>
              Source files
            </p>
          </li>
        </ul>
        <div class="mt-3">
          <a href="#" class="btn btn-dark w-100">Get started</a>
        </div>
      </div>
    </div>
  </div>
</div>
