---
layout: site
title: Homepage
---

<div class="pt-56 pb-10 pt-lg-56 pb-lg-0 mt-n40 position-relative gradient-bottom-right start-indigo middle-purple end-yellow">
  <div class="container">
    <div class="row align-items-center g-10">
      <div class="col-lg-8">
        <h1 class="ls-tight fw-bolder display-3 text-white mb-5">
          Build Professional Dashboards, Faster than Ever.
        </h1>
        <p class="w-xl-75 lead text-white">
          With our intuitive tools and expertly designed components, you'll have the power to create professional dashboards quicker than ever.
        </p>
      </div>
      <div class="col-lg-4 align-self-end">
        <div class="hstack gap-3 justify-content-lg-end">
          <a href="{{ site.marketplace.url }}" class="btn btn-lg btn-white rounded-pill bg-dark-hover border-0 shadow-none px-lg-8">
            Purchase now
          </a>
          <a href="/pages/dashboard.html" class="btn btn-lg btn-dark rounded-pill border-0 shadow-none px-lg-8">
            Explore more
          </a>
        </div>
      </div>
    </div>
    <div class="mt-10 d-none d-lg-block">
      <img src="/img/marketing/hero-img-1.png" />
    </div>
  </div>
</div>
<div class="mt-2 py-20 pt-lg-32 bg-dark rounded-bottom-4 overflow-hidden position-relative z-1">
  <div class="container mw-screen-xl">
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <h5 class="h5 mb-5 text-uppercase text-primary">How it works</h5>
        <h1 class="display-4 font-display text-white fw-bolder lh-tight mb-4">It's time to take action</h1>
        <p class="text-lg text-white text-opacity-75">Satoshi offers you the unique chance to discover the companies that have your data and reclaim it.</p>
      </div>
    </div>
    <div class="row g-6 g-lg-20 my-10">
      <div class="col-md-4">
        <div class="card shadow-none border-0">
          <div class="card-body p-7">
            <div class="mt-4 mb-7">
              <div class="icon icon-shape text-white bg-primary rounded-circle text-lg">
                <i class="bi bi-regex"></i>
              </div>
            </div>
            <div class="pt-2 pb-3">
              <h5 class="h3 font-display fw-bold mb-3">Created with the latest technologies</h5>
              <p class="text-muted">We ensure our code is not just efficient and robust, but also highly adaptable and intuitive for developers.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-none border-0">
          <div class="card-body p-7">
            <div class="mt-4 mb-7">
              <div class="icon icon-shape text-white bg-primary rounded-circle text-lg">
                <i class="bi bi-person-workspace"></i>
              </div>
            </div>
            <div class="pt-2 pb-3">
              <h5 class="h3 font-display fw-bold mb-3">Built by developers for developers</h5>
              <p class="text-muted">You require not just a theme, but also exceptional tools to streamline the building and customization process.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-none border-0">
          <div class="card-body p-7">
            <div class="mt-4 mb-7">
              <div class="icon icon-shape text-white bg-primary rounded-circle text-lg">
                <i class="bi bi-stars"></i>
              </div>
            </div>
            <div class="pt-2 pb-3">
              <h5 class="h3 font-display fw-bold mb-3">Made for great first impressions</h5>
              <p class="text-muted">Our theme is lighter and faster compared to the majority of themes available, delivering enhanced value for less.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-20 pt-lg-32 pb-lg-20">
  <div class="container mw-screen-xl">
    <div class="row justify-content-lg-end mb-10 mb-lg-24">
      <div class="col-md-5 text-md-end d-none d-lg-block">
        <h6 class="display-3 font-display text-success">23k+</h6>
        <p class="mb-5">
          Create a professional-looking website without having to spend hours or even days designing and coding it.
        </p>
      </div>
      <div class="col-md-6">
        <h1 class="font-display lh-tight fw-bolder display-5 mb-5">Devs and startups are already using <a href="https://webpixels.io?ref=themes.getbootstrap.com">Webpixels</a></h1>
      </div>
    </div>
    <div class="section-step-lg">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <h5 class="h5 mb-5 text-uppercase fw-bolder text-primary">Speed</h5>
          <h1 class="ls-tight font-display fw-bolder mb-5">
            Build a new website in hours, not weeks
          </h1>
          <p class="lead">
            Instead of starting from scratch, you can use our template to quickly create a professional-looking website without having to spend hours or even days designing and coding it.
          </p>
          <ul class="list-unstyled mt-6 mb-0">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-xs icon-shape bg-success text-white text-base rounded-circle me-3">
                    <i class="bi bi-check"></i>
                  </div>
                </div>
                <div>
                  <span class="fw-semibold">Quickly create a professional-looking website</span></div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-xs icon-shape bg-success text-white text-base rounded-circle me-3">
                    <i class="bi bi-check"></i>
                  </div>
                </div>
                <div>
                  <span class="fw-semibold">Well designed elements and pages</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-xs icon-shape bg-success text-white text-base rounded-circle me-3">
                    <i class="bi bi-check"></i>
                  </div>
                </div>
                <div>
                  <span class="fw-semibold">Professional-looking website quickly and affordably</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="bg-primary overflow-hidden rounded-4 ps-8 pt-8">
            {% img src="/img/marketing/shot-2.png", class="img-fluid" %}
          </div>
        </div>
      </div>
    </div>
    <div class="section-step-lg">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <h5 class="h5 mb-5 text-uppercase text-secondary fw-bolder">Customization</h5>
          <h1 class="font-display ls-tight fw-bolder mb-5">
            We focus on making everything customizable
          </h1>
          <p class="lead">
            Change the colors, fonts, and images to suit your brand and style. This allows you to create a website that is unique and reflects your business, without having to know how to code or design from scratch.
          </p>
          <ul class="list-unstyled mt-6 mb-0">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-xs icon-shape bg-success text-white text-base rounded-circle me-3">
                    <i class="bi bi-check"></i>
                  </div>
                </div>
                <div>
                  <span class="fw-semibold">Change colors in seconds</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-xs icon-shape bg-success text-white text-base rounded-circle me-3">
                    <i class="bi bi-check"></i>
                  </div>
                </div>
                <div>
                  <span class="fw-semibold">Choose the font family of your choice</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-xs icon-shape bg-success text-white text-base rounded-circle me-3">
                    <i class="bi bi-check"></i>
                  </div>
                </div>
                <div>
                  <span class="fw-semibold">Mix and match components as you need</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="bg-secondary overflow-hidden rounded-4 ps-8 pt-8">
            {% img src="/img/marketing/shot-1.png", class="img-fluid" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-20 py-lg-20">
  <div class="container mw-screen-xl">
    <div class="py-32 gradient-bottom-right start-gray middle-black end-gray rounded-5 px-lg-16 text-center text-md-start">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <h1 class="ls-tight fw-bolder display-4 mb-5 text-white">
            Ready to get started?
          </h1>
          <p class="lead text-white opacity-8 mb-10">
            Save time and money while getting more productive than ever before. Kickstart your development process now.
          </p>
          <div class="mx-n2">
            <a href="{{ site.marketplace.url }}" class="btn btn-lg btn-white mx-2 px-lg-8">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-20 py-lg-20">
  <div class="container mw-screen-xl">
    <div class="row align-items-center mb-20">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h1 class="display-5 ls-tight mb-5">
          Empowering Your Development Journey
        </h1>
        <div class="row mx-n2 mt-12">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <h2 class="text-secondary mb-1">
              <span class="display-6 fw-semibold">100k</span>
              <span class="counter-extra">+</span>
            </h2>
            <p class="text-muted">
              Theme Downloads
            </p>
          </div>
          <div class="col-sm-3 mb-3 mb-sm-0">
            <h2 class="text-secondary mb-1">
              <span class="display-6 fw-semibold">4.9</span>
            </h2>
            <p class="text-muted">
              Average Rating
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 ms-lg-auto">
        <div class="vstack gap-8">
          <div>
            <div class="d-flex align-items-center gap-4 mb-4">
              <div class="icon icon-shape text-bg-primary text-lg rounded-circle">
                <i class="bi bi-door-open"></i>
              </div>
              <h3 class="fw-semibold">Efficiency and Time Savings</h3>
            </div>
            <p class="">
              Reduce the time and effort needed for creating a website from scratch with pre-designed layouts, styles, and components.
            </p>
          </div>
          <hr class="my-0">
          <div>
            <div class="d-flex align-items-center gap-4 mb-4">
              <div class="icon icon-shape text-bg-primary text-lg rounded-circle">
                <i class="bi bi-rocket-takeoff"></i>
              </div>
              <h3 class="fw-semibold">Professional Appearance</h3>
            </div>
            <p class="">
              Themes are designed by professionals, ensuring a polished and aesthetically pleasing look for the website. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-8 justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="card shadow-soft-2 h-md-100">
          <div class="card-body d-flex flex-column p-8">
            <h5 class="h4 mb-4">Using the latest Bootstrap</h5>
            <p class="text-sm">
              Optimize your website with the latest Bootstrap advancements, guaranteeing a dynamic and robust digital experience for your users.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card shadow-soft-2 h-md-100">
          <div class="card-body d-flex flex-column p-8">
            <h5 class="h4 mb-4">500+ components and pages</h5>
            <p class="text-sm">
              Access an extensive collection of over 500 versatile building blocks to craft a unique and feature-rich website.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card shadow-soft-2 h-md-100">
          <div class="card-body d-flex flex-column p-8">
            <h5 class="h4 mb-4">Super modular and customizable</h5>
            <p class="text-sm">
              Experience ultimate modularity and customization options, tailoring your website to perfection with ease and precision.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card shadow-soft-2 h-md-100">
          <div class="card-body d-flex flex-column p-8">
            <h5 class="h4 mb-4">Custom colors and fonts</h5>
            <p class="text-sm">
              Express your brand's uniqueness with customizable style guide, ensuring your site aligns perfectly with your distinctive identity.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card shadow-soft-2 h-md-100">
          <div class="card-body d-flex flex-column p-8">
            <h5 class="h4 mb-4">2000+ open-source icons</h5>
            <p class="text-sm">
              Choose from a vast selection of over free icons, adding a touch of visual excellence and functionality to your design.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card shadow-soft-2 h-md-100">
          <div class="card-body d-flex flex-column p-8"> 
            <h5 class="h4 mb-4">Built by Bootstrap experts</h5>
            <p class="text-sm">
              Crafted by seasoned Bootstrap experts, ensuring top-tier quality and optimal performance of your website.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-20 py-lg-20">
  <div class="container mw-screen-xl">
    <div class="row justify-content-center text-center mb-20">
      <div class="col-lg-6">
        <!-- Title -->
        <h1 class="ls-tight fw-bolder display-5 mb-4">
          Convinient Pricing
        </h1>
        <!-- Text -->
        <p class="lead px-lg-20">
          Choose the right pricing for you and get started with your project.
        </p>
      </div>
    </div>
    {% renderFile "./src/sections/pricing-2.njk", {
      site: site
    } %}
  </div>
</div>
<div class="py-20 py-lg-32 bg-body-tertiary rounded-4">
  <div class="container mw-screen-xl">
    {% renderFile "./src/sections/faq-1.njk" %}
  </div>
</div>
